<div class="container-divider"></div>
<div class="container">
  <div class="sub-nav">
    {{breadcrumbs}}
    <div class="search-container">
      <svg xmlns="http://www.w3.org/2000/svg" width="12" height="12" focusable="false" viewBox="0 0 12 12" class="search-icon" aria-hidden="true">
        <circle cx="4.5" cy="4.5" r="4" fill="none" stroke="currentColor"/>
        <path stroke="currentColor" stroke-linecap="round" d="M11 11L7.5 7.5"/>
      </svg>
      {{search scoped=settings.scoped_kb_search submit=false}}
    </div>
  </div>

  <div class="section-container">
    <section id="main-content" class="section-content">
      <header class="page-header">
        <h1>{{section.name}}</h1>
        {{#if settings.show_follow_section}}
          <div class="section-subscribe">{{subscribe}}</div>
        {{/if}}
        {{#if section.description}}
          <p class="page-header-description">{{section.description}}</p>
        {{/if}}
      </header>

      {{#if section.sections}}
        <ul class="section-list">
          {{#each section.sections}}
          <li class="section-list-item">
              <a href="{{url}}">
                <span>{{name}}</span>
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" focusable="false" viewBox="0 0 16 16" aria-hidden="true">
                  <path fill="none" stroke="currentColor" stroke-linecap="round" stroke-width="2" d="M5 14.5l6.1-6.1c.2-.2.2-.5 0-.7L5 1.5"/>
                </svg>
              </a>
            </li>
          {{/each}}
        </ul>
      {{/if}}

      {{pagination "section.sections"}}

      {{#if section.articles}}
        <div class="introductions-grid">
          {{#each section.articles}}
            <div class="introduction-item">
              <a href="{{url}}" class="introduction-link">
                <div class="introduction-title">{{title}}</div>
                <div class="introduction-date">{{date created_at 'DD MMM YYYY'}}</div>
                <div class="introduction-section">Introductions</div>
              </a>
            </div>
          {{/each}}
        </div>
      {{else}}
        <i class="section-empty">
          <a href="{{section.url}}">{{t 'empty'}}</a>
        </i>
      {{/if}}

      {{pagination "section.articles"}}

    </section>
  </div>
</div>
